<!-- A temp landing page for the Taminaru discord bot. Real site will be worked on when bot is finished. -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Taminaru</title>
</head>
<body>
    <div>
        <div class="custom-padding">
            <nav>
                <div class="logo">
                    Taminaru
                </div>
                <ul class="menu-area">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div>
           
        </div>
    </div>
</body>
</html>