<!-- A temp landing page for the Taminaru discord bot. Real site will be worked on when bot is finished. -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/button.css">
    <title>Taminaru</title>
  </head>
  <body>
    <div>
      <!-- nav bar -->
      <div class="custom-padding">
        <nav>
          <div class="logo">
            <a href="./index.html">Taminaru</a>
          </div>
          <ul class="menu-area">
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li>
              <a href="./pages/about.html">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Buttons -->
      <div>
        <!-- invite link button -->
      <div>
        <a  class="button" target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=769409289043050516&permissions=2956029142&scope=bot%20applications.commands"><p class="button-blink">Invite me</p></a>
      </div>
      <div>
        <!-- Top gg invite link  -->
        <a class="button2" href="#"><p class="button-blink">UpVote</p></a>
      </div>
      </div>
      <!-- Bot logo -->
      <div>
          <img class="bot-logo" src="../public/img/bot_logo.png" alt="Bot logo image">
      </div>
    </div>
  </body>
</html>
