<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <link rel="stylesheet" href="../../styles/about.css" />
    <title>About</title>
  </head>
  <body>
    <div>
        <div class="custom-padding">
          <nav>
            <div class="logo">
              <a href="../../index.html">Taminaru</a>
            </div>
            <ul class="menu-area">
              <li>
                <a href="#">Dashboard</a>
              </li>
              <li>
                <a target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=769409289043050516&permissions=2956029142&scope=bot%20applications.commands">Invite</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
              
            </ul>
          </nav>
      </div>
      <div>
        <div class="about-container">
          <h1>COMING SOON!</h1>
        </div>
      </div>
    </div>
  </body>
</html>
